  <% if user_signed_in? %>
  <nav class="navbar">
    <ul class="navbar-nav" style="display:flex; flex-direction: row; padding-left: 15px;">
      <li class="me-3">
        <%= link_to 'Create User', users_create_path, class: 'nav-link'%>
      </li>
      <li class="me-3">
        <%= link_to 'All Users', users_all_path, class: 'nav-link'%>
      </li>
      <li class="me-3">
        <%= button_to 'Sign Out', destroy_user_session_path, method: :delete,:style =>  'border: none; background: none; color: none;', :class => 'nav-link' %>
      </li>
    </ul>
    <%= form_with  class: 'form-inline my-2 my-lg-0 search-form',  :url => "show", method: :get do |f| %>
      <%= f.text_field :email, style: 'display: inline-block;', class: 'form-control me-3' %>
      <%= f.submit("Search", style: 'margin-right: 15px; display: inline-block', class: 'btn btn-outline-light')%>
    <%- end %>
  </nav>
<% else %>
  <nav class="navbar" style="justify-content: center">
    <h2 style="text-align: center; color: white;">MedAdmin</h2>
  </nav>
<% end %>
